* {
    box-sizing: border-box;
    margin: 0;
}
html {
    margin: 0;
    width: 100%;
}
body {
    font-family: fira sans;
    background-color: #F0E1CC;
    width: 100%;
    color:#011F26;
}

img {
 width: 100px;
 height: 100px;
}

p {
    color:#011F26;
}

h2 {
    color:#002037;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #223A40;
  font-size: 1.3rem;
  padding: 10px 20px;
}


/*****NAV***/

nav {
  display: flex;
  flex-direction: flex-start;
  background-color: #303C6C;
  width: 100%;
  align-items: center;
}

.leftnav {
  display: flex;
  width: 100%;
}

.rightnav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #303C6C;
    width: 100%;
}



nav > a:hover {
    color: #F4976C;
}


/****WELCOME AREA***/
#introduction {
    display: flex;
    background-color: #303C6C;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: flex-start;
}

.intro {
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(26, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.logo {
  width: 200px;
  height: 170px;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/****ABOUT ME****/
#about {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.content-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #fff;
    border:1px solid #002037;
}

.browser-bar {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid black;
  height: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.circle-1 {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #fe5e57;
}

.circle-1 > p {
  color: #be4943;
  padding-left: 3.2px;
  font-size: .75rem;

  margin: -1px;
}

.circle-2 {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #febc2e;
  margin: 0px 5px;
}

.circle-2 > p {
  transform: rotate(90deg);
  color: #cf9925;
  font-size: .7rem;
  margin-top: 3.8px;
}

.circle-3 {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #29c83f;
}

.up {
  transform: rotate(45deg);
  color: #239933;
  font-size: .5rem;
  padding: 2px;
}

.down{
  transform: rotate(45deg);
  color: #239933;
  font-size: .5rem;
  padding: 1px;
  margin-right: -26px;
}

.content-text {
    padding: 10px;
    line-height: 1.5rem;
}

.content-first {
  font-weight: 600;
  padding: 10px;
  line-height: 1.5rem;

}

/****PORTFOLIO****/
#port {
  display: flex;
  flex-direction:column;
  background-color: #B4DFE5;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 350px;
  width: 90%;
  margin: auto;
  position: relative;
}

.portfolio-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 7, 17, 0.932);
  z-index: 2;
  opacity: 0;
}

.portfolio-card:hover::after {
  opacity: 1;
}

.portfolio-card img {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.portfolio-img-desc {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.portfolio-card:hover .portfolio-img-desc  {
  opacity: 1;
  left: 50%;
}


.portfolio-img-desc > p, a{
    color: white;
    text-align: center;
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}


/****FOOTER****/


#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}


section h2{
  text-align: center;
  text-transform: uppercase;
}
  
  section .row .portfolio-card{
    margin: 20px;
  }
  
  section .cards .portfolio-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .contact {
      text-align: center;
      margin: 20px;
      line-height: 1.5rem;
  }
  .socials {
      display: flex;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 4rem;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

.text-center {
    font-size: 1.6rem;
    margin: 20px;
}



/****MEDIAQUERY****/

@media only screen and (min-width: 768px) {
    

    
    nav {
      display: flex;
      justify-content: space-around;
    }

    .intro {
      padding: 15px;
      margin: 15px;
      font-size: 2.3rem;
    }
    .profile-pic {
      width: 370px;
      height: 300px;
    }
    
    .container-1 {
      justify-content: space-evenly;
    }

    .row {
        flex-direction: row;
    }
    .portfolio-card {
        width: 20%;
    }

    #footer {
      display: flex;
      flex-direction: column;
    }

}